# idea
.idea

# venv
venv

# data
train_video
test_images
video
dataset
dataset.zip
dataset_splitted
checkpoint
checkpoints
weights
tensorboard

# submit
submit
input
output
win.zip

# Docker
Dockerfile

# test files
test.*