# Local folders
/.idea/
/venv/
/train_video/
/dataset/
/dataset_splitted/
/checkpoint/
/checkpoints/
/tensorboard/
/submit/

# Local data
*.h5
test.*

# Submit
/video/
/input/
/output/

# Docker
Dockerfile